<h1>Stupid Coaching</h1>
<% if params[:question] == "I am going to work" %>
    <div>
      <p><%= params[:question] %></p>
      <footer>You</footer>
      <p><%= @answer[0] %></p>
      <footer>Your coach</footer>
    </div>
    <% elsif params[:question].include?("?") %>
    <div>
      <p><%= params[:question] %></p>
      <footer>You</footer>
      <p><%= @answer[1] %></p>
      <footer>Your coach</footer>
    </div>
    <% else %>
    <div>
      <p><%= params[:question] %></p>
      <footer>You</footer>
      <p><%= @answer[2] %></p>
      <footer>Your coach</footer>
    </div>
<% end %>
<br>
<%= link_to "Ask a new question", ask_path %>
